html, body, ul, ol, li, form, fieldset, legend
{
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6, p { margin: 0; }

fieldset,img { border: 0; }

legend { color: #000; }

li { list-style: none; }

sup { vertical-align: text-top; }

sub { vertical-align: text-bottom; }


#logo {
    float: left;
    width: 200px;
    padding:5px;
    padding-left:30px;
}

#logo img {
    width: 100%;
    height: auto;
}

#map {
    text-align:center;
}

.nav-bar > li {
    display:block;
    float: right;
    line-height:38px;
    margin:0;
    padding:0;
    padding-right:20px;
    position:relative;
 }

#page-wrap {
     margin: 0 auto;
}

h1 {
    text-align:center;
    font-family: 'Montserrat', sans-serif;
    font-size:65px;
    letter-spacing:5px;
    padding-top:15px;
    color:#3a3a3a;
}

h2 {
    text-align:center;
    font-family: 'Montserrat', sans-serif;
    font-size:55px;
    letter-spacing:5px;
    padding-top:15px;
    color:#3a3a3a;
}

h3 {
    text-align:left;
    font-family: 'Montserrat', sans-serif;
    font-size:20px;
    letter-spacing:0px;
    color:#3a3a3a;
    width:65%;
    margin: 5px auto;
}

h4 {
    text-align:left;
    font-family: 'Montserrat', sans-serif;
    font-size:20px;
    letter-spacing:0px;
    color:#3a3a3a;
    width:65%;
    margin: 5px auto;
    padding-top:16px;
    padding-bottom:10px;
}

p {
    text-align:left;
    font-size:17px;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.4em;
    padding:0px;
    padding-bottom:20px;
    width:65%;
    margin: 5px auto;
    color:#3a3a3a;
}

nav a {
        display:block;
        padding-top:17px;
        padding-right:10px;
        color:#3a3a3a;
        text-decoration: none;
        font-family: 'Montserrat', sans-serif;
        text-transform:uppercase;
        font-size:12px;
        letter-spacing: 2px;
        font-weight:bold;
    }

body {
    background-color: #F2F2F3;
    margin:0px;
}

#home .module {
  background-image:url("https://s3.amazonaws.com/filestore.rescuegroups.org/8569/pictures/animals/14696/14696131/67543922_500x378.jpg");
  background-size: cover;
  width: 50%;
  height: 500px;
  position: relative;
  float: right;
  margin-top: 2%;
  margin-right: 20px;

}


#contentsection1 {
    background-color: yellow;
    width: 44.5%;
    float: right;
    margin-top: 8%;
    margin-right: 0px;
}

#container{
    background-color: pink;
}
#container1{
    background-color: pink;
}

.gally{
    background-color: pink;
    height: 80vw;
}
.mySlides {display:none}
.w3-left, .w3-right, .w3-badge {cursor:pointer}
.w3-badge {height:13px;width:13px;padding:0}


#about .module {
  background-image:url("../images/paddler.jpg");
  background-size: cover;
  width: 100%;
  height: 500px;
  position: relative;
  float: left;
    display:block;
}

#offerings .module {
  background-image:url("../images/paddler.jpg");
  background-size: cover;
  width: 100%;
  height: 500px;
  position: relative;
  float: left;
    display:block;
}


.header{
    padding-bottom: 11vh;
    background-color: burlywood;
    position: relative;
}
.mid h1 {
  font-family: 'Francois One', sans-serif;
    font-size:55px;
    letter-spacing:3px;
  color: white;
  text-transform: uppercase;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#container {
    padding-bottom:568px;
    display:block;
}

footer {
    height: 80px;
    background-color: white;
}

footer p {
    text-align:center;
    padding-top:30px;
    font-size:15px;
}

button {
  display: block;
  margin-left:auto;
    margin-right:auto;
  padding: 8px 25px;
  font-size: 22px;
  font-family: 'Francois One', sans-serif;
  line-height: 1.8;
  appearance: none;
  box-shadow: none;
  border-radius: 0;
}

button:focus {
  outline: none;
}


.footer-social { 
    float: right; 
    margin-top:5px; 
    padding-right:30px;
}
ul { 
    padding:0; 
    margin:0 0 0 10px;
}
.footer-social li {
    float:left; 
    list-style:none; 
    margin-left:5px;
}

.footer-social img {
    width:30px;
    padding-right:10px;
    padding-top:20px;
}

.centeredimage {
    text-align:center;
    width:10%;
}

.footer-social span { }

.gallery{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.gallery img{
    width: 100%;
    margin: 10px;
    transition: transform .2s; /* Animation */
}

.gallery img:hover{
     transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.image_container{
    margin-left: 12%;
    margin-top: 10%;
}

.filterDiv {
  float: left;
  width: 200px;
  line-height: 100px;
  text-align: center;
  margin: 2px;
  display: none;
}

.show {
  display: block;
}

.container {
  margin-top: 20px;
  overflow: hidden;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
  float: left;
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #666;
  color: white;
}

.myBtnContainer{
        display: block;
    }
#centered p {
    text-align:center;
}

.about_owners h2{
    
    font-size: 2em;
}

.hours h2{
    
    font-size: 2em;
}

.location h2{
    
    font-size: 2em;
}

.paddling_info h2{
    padding-top: 40px;
    padding-bottom: 20px;
    font-size: 2em;
}

.excursion_info h2{
    padding-top: 40px;
    padding-bottom: 20px;
    font-size: 2em;
}

.social h2{
    padding-top: 50px;
    font-size: 2em;
}

.reviews h2{
    padding-top: 50px;
    padding-bottom: 10px;
    font-size: 2em;
}

.gallery h2{
    padding-top: 80px;
    padding-bottom: 20px;
    font-size: 2em;
}

#reserve{
    
    margin-left: 17%;
    padding-bottom: 50px;
    padding-top: 50px;
}

#reserve img{
    width:75%;
}


   .button_blue {
	font-family: 'OpenSansReg', sans-serif;
	border-radius: 7px;
	border: 3px solid #12766D;
	padding: 10px 20px;
	background-color: #12766D;
	font: #fff;
	text-decoration: none;
	color: #fff;
	font-size: 1em;
}

.button_blue:hover {
	background-color: #414040;
	border: 3px solid #414040;
}

input {
    margin-left: auto;
    margin-right: auto;
    outline: none;
    padding:10px;
    width: 50%;
    border-radius: 7px;
    font-family: 'OpenSansReg', sans-serif;
    font-size: 1em;
}
input[type="textarea"] {
    height: 150px;
}

#contentSection_contact{
   margin-left: 20%;

}

.text input{
    padding-bottom: 60px;
}
